:root {
  --black: #000000;
  --white: #ffffff;
  --primary: #fef3f3;
  --primary-alt: #f31313;
  --primary-alt-transparent: #f3131399;
  --gray: #7b817f;
}

a {
  color: inherit;
}

a:hover, a:active {
  color: var(--primary-alt);
}

.img-center {
  display: block;
  margin: 0 auto;
}

.bg-primary {
  background-color: var(--primary) !important;
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
  color: var(--white);
}

.bg-gray {
  background-color: var(--gray);
}

section {
  padding: 50px 0;
  padding-top: 20px;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--black);
  box-shadow: 5px 5px 0px var(--gray);
  border-color: var(--gray);
  color: var(--white);
}

.btn-primary:hover, .btn-primary:active {
  background-color: var(--primary-alt);
  border-color: var(--primary);
}

main {
  min-height: calc(100vh - 54px - 121px);
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: var(--primary-alt);
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--primary-alt-transparent);
}

.Services {
  background-color: #eee;
}

.loader:empty {
	position: absolute;
	top: calc(50% - 4em);
	left: calc(50% - 4em);
	width: 6em;
	height: 6em;
	border: 1.1em solid rgba(0, 0, 0, 0.2);
	border-left: 1.1em solid #000000;
	border-radius: 50%;
	animation: load8 1.1s infinite linear;
}

@keyframes load8 {
	0% {
	transform: rotate(0deg);
	}
	100% {
	transform: rotate(360deg);
	}
}

@media (min-width: 768px) {
  main {
    min-height: calc(100vh - 54px - 200px);
  }
}